ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btnx {
  width: 100px;
  background: #0a2640;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.btnx:hover {
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-toggler {
  all: unset;
  font-size: 25px;
  border: none;
}

.circle {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 999;
}

.circle::before {
  content: "  ";
  display: inline-block;
  width: 100%;
  height: 150%;
  opacity: 20%;
  background: #232376;
  border-radius: 50%;
  position: absolute;
  top: -85%;
  left: 50%;
}

.bg {
  overflow: hidden;
  background: #0a2640;
  margin: 0 auto;
}

.img1 {
  width: 35%;
}

.btnx {
  background: #69e6a6;
  color: #000;
  font-size: 18px;
  width: 150px;
}

.btnx:last-child {
  background: inherit;
  color: #fff;
}

.cardimg1-2 {
  transform: translate(50%, -70%);
}

.card2 :first-child + p {
  background: #0a2640;
  color: #fff;
}

.cardimg2-2 {
  transform: translate(5%, -70%);
}

#newsection {
  background: #0a2640;
}

.card2-2 {
  height: 120%;
  text-align: center;
}

.img1 {
  width: 100%;
}

.img2 {
  width: 59%;
}

.img2:first-child {
  width: 40%;
  height: 100%;
}

@media (max-width: 570px) {
  .bg {
    width: 100vw;
    height: 125vh;
  }
  .img1 {
    width: 100%;
  }
  .img22 {
    all: unset;
  }
  .img2 {
    height: 10rem;
  }
  .card1-1 {
    width: 100%;
  }
  .cardimg1-2 {
    all: unset;
    transform: translate(10%, -50%);
  }
  .section2-btn {
    width: 150%;
  }
  .card2 {
    margin-top: 10%;
  }
  .cardimg2-1 {
    width: 100%;
  }
  .newsectiontxt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section12 {
    gap: 2rem;
  }
}
body {
  font-family: "Manrope";
}

header {
  height: 100px;
  background-color: #0a2640;
}

section#hero {
  background-color: #0a2640;
  background-size: cover;
  height: 50vh;
  padding-bottom: 30rem;
  width: 100%;
}

section#hero h2 {
  font-family: "Manrope";
  font-weight: 400;
  text-align: center;
  width: 50%;
}

section#community {
  transform: translateY(-3rem);
  height: 100%;
  width: 100%;
}

section#story .story {
  margin: 1rem auto;
}
section#story .story h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #777777;
}
section#story .story h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 48px;
}
section#story .story p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
}

section#numbers {
  background-color: #0a2640;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}
section#numbers .container h4 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #f1f1f1;
}
section#numbers .container h2 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 40px;
  line-height: 57px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
section#numbers .container .numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section#numbers .container .numbers .number h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #4fe9a4;
  margin: 2rem 1rem;
}

section#team .team-txt h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #777777;
}
section#team .team-txt h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
}
section#team .team-txt p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #777777;
}
section#team .cards .card {
  border: none;
}

section#value {
  background-color: #0a2640;
}
section#value .value-txt h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
}
section#value .value-txt h2 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #fff;
}
section#value .value-txt p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f1f1f1;
}
section#value .values img {
  width: 150px;
  height: 150px;
}/*# sourceMappingURL=main.css.map */